@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --clr-neon: hsl(317 100% 54%);
    --blue-neon: rgb(0, 208, 255);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-image: 
        radial-gradient(rgba(0, 123, 255, 0.5), rgb(166, 0, 255, 0.5)),
        url('/images/background.jpg');
    background-size: cover;
    color: #fff;
}

h1,
h2 {
    margin-bottom: 15px;
}

header p,
button,
nav 
nav a,
h4 {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

nav {
    background-color: #000;
    color: #fff;
    height: 60px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 
        0 0 1em var(--clr-neon), 
        0 0 0.45em currentColor;
}

nav a:hover {
    color: var(--clr-neon);
    text-shadow:
        0.5em 0.5em 2em var(--clr-neon), 
        0.5em 0.5em 2em currentColor;
}

header {
    background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7));
    min-height: 450px;
    padding: 100px 0 150px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .hero-text {
    max-width: 470px;
}

header h1 {
    font-size: 48px;
}

header .crop-container {
    margin-top: 10px;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #0000ff;
    border-radius: 0.25em;
    box-shadow: 
        inset 
        0 0 1em 0 #0000ff, 
        0 0 1em 0 #0000ff;
}

header .crop-container img {
    margin-top: -50px;
    width: 500px;
    
}

button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.neon-button {
    display: inline-block;
    margin: 30px 0 15px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    position: relative;
    text-shadow: 
        0 0 0.125em hsl(0 0% 100% / 0.3), 
        0 0 0.45em currentColor;

    box-shadow: 
        inset 
        0 0 0.5em 0 var(--clr-neon), 
        0 0 0.5em 0 var(--clr-neon);
}

.neon-button::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1.5em) rotateX(40deg) scale(1, 0.35);
    filter: blur(2em);
    opacity: 0.7;
}

.neon-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
    background: var(--clr-neon);
    color: #31202b;
    text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
}

.neon-button:hover::after,
.neon-button:hover::after {
    opacity: 1;
}

/* Games section */
.games {
    min-height: 450px;
}

.games .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7));
    margin: 100px auto;
    padding-top: 40px;
}

.games h2 {
    font-size: 36px;
    padding-bottom: 20px;
}

.games ul {
    display: flex;
    justify-content: center;
}

.games ul li {
    text-align: center;
    margin: 10px;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.boxes li:nth-of-type(1) {
    background: url('/images/pacman.jpg');
}

.boxes li:nth-of-type(2) {
    background: url('/images/tetris.jpg');
}

.boxes li:nth-of-type(3) {
    background: url('/images/streetfighter.jpg');
}

.boxes li:nth-of-type(4) {
    background: url('/images/supermario.jpg');
}

.boxes li {
    border: 4px solid var(--blue-neon);
    border-radius: 1em;
    box-shadow: 
        inset 
        0 0 0.5em 0 #0000ff, 
        0 0 1em 0 #0000ff;
    position: relative;       
}

.boxes li:hover {
    box-shadow: 
        inset 
        0 0 4em 0 #0000ff, 
        0 0 4em #0000ff;
    border: none;        
}

.boxes li h3 {
    width: 100%;
    height: 100%;
    padding: 80px 5px 0;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.boxes h3:hover {
    background: radial-gradient(rgba(136, 0, 255, 1), rgb(0, 0, 255, 0.5));
    opacity: 1;
}

/* Quote section */
.quote {
    min-height: 450px;
    background: radial-gradient(rgb(68, 0, 128), rgb(68, 0, 128));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote h3 {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
}

.quote h4 {
    text-align: right;
}

.quote h4::before {
    content: "\2014\0020";
    font-family: 'Gelasio', serif;
}

.quote h3::before {
    font-family: 'Gelasio', serif;
    text-align: left;
    content: "\201c";
    font-size: 100px;
    display: block;
    margin-bottom: -40px;
    margin-top: -20px;
}

/* Call-to-action section */
.call-to-action {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.call-to-action .container {
    height: 150px;
    width: 100%;
    border-radius: 0.50em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0, 0.85), rgb(0, 0, 0, 0.85));
}

.call-to-action button:hover,
.call-to-action button:focus,
.call-to-action button::before {
    background: none;
    color: var(--clr-neon);
    transform: none;
}

/* Footer */
footer {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

footer p {
    padding-bottom: 5px;
}

